<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="outer">

          <div class="chart-hed">
            Where are visa holders in demand?
          </div>

          <div class="chatter">
            We map each visa application request in a county by an employer for a given position. Roll over the graph to see what positions employers want to fill with H1-B visa holders.
          </div>

          <div class="divider-div"></div>

          <div class="sankey-header">
            <div class="hed1">visas requested by County</div>
            <div class="hed2">by Company</div>
            <div class="hed3">for Salary</div>
          </div>

          <div id="sankey-graph"></div>

          <div class="source">
            <em>Source: This is the source</em>
          </div>
          <div class="credit">Emma O'Neill & Joaquin Palomino / San Francisco Chronicle</div>


    </responsive-child>

    <script>
      var h1bData = <%= JSON.stringify(csv.final_data) %>;
    </script>



    <script src="../graph.js"></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
