<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="outer">

          <div class="chart-hed">
            Where are visa holders in demand?
          </div>

          <div class="chatter">
            We map each visa application request for a set of employees for a given position. Roll over the counties and companies to see the mapping of visa applications.
          </div>


          <div id="sankey-graph"></div>

          <div class="source">
            <em>Source: This is the source</em>
          </div>
          <div class="credit">Emma O'Neill / San Francisco Chronicle</div>


    </responsive-child>

    <script>
      var h1bData = <%= JSON.stringify(csv.top_20_bay_area_half) %>;
      //var h1bData = <%= JSON.stringify(csv.H1Bflow_supershort) %>;
    </script>



    <script src="../graph.js"></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
